<footer>
  <div class="container">
    <div class="footer">
      <ul>
        <li>About</li>
        <li>News</li>
        <li>Pro</li>
        <li>Apps</li>
        <li>Podcast</li>
        <li>Year in Review</li>
        <li>Gift Guide</li>
        <li>Help</li>
        <li>Terms</li>
        <li>API</li>
        <li>Contact</li>
      </ul>
      <div class="copyright">
        © MovieRanker. Made by Rinor. Film data from TMDb.
      </div>
    </div>
  </div>
</footer>
<script src="/js/provider-filter.js"></script>
<script src="/js/select-dropdown.js"></script>
<script src="/js/nav.js"></script>
<script src="/js/ajax/ajax.js"></script>
<!-- <script src="/js/ajax/load-more.js"></script> -->

</body>

</html>